body {
  margin: 0;
  padding: 0;

  background-image: url("Virat\ Kohli\ vintage\ Wallpaper\ 📍.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  height: 100vh;
}

.content {
  color: white;
  text-align: center;
  padding-top: 200px;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 2px 2px 5px black;
}