body {
  background-color: #f0f8ff;
  font-family: Arial;
}

/* RESULT heading */
.heading {
  background-color: red;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
}

table {
  width: 90%;
  margin: 20px auto;
  border-collapse: collapse;
  background-color: lightskyblue;
}

th {
  background-color: yellow;
  padding: 10px;
}

td {
  text-align: center;
  padding: 10px;
}

table, th, td {
  border: 1px solid black;
}