/* .left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.branch {
    background-color: red;
    color: white;
    font-size: 50px;
    text-align: center;
} */

/* h1{
    color:blue;
}

p{
    background-color: purple;
    color: white;
} */

/* h2{
    text-align: center;
} */

h2{
    color: red;
    background-color: skyblue;
    text-align: center;
}